* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* Navbar */
.form-inline .form-control {
  @media screen and (min-width: 990px) {
    width: 30rem;
  }

  @media screen and (min-width: 1110px) {
    width: 40rem;
    margin-left: 2rem;
  }
}

.cartItems {
  color: white;
  background-color: red;
  font-size: 0.6rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userAndCartIcon {
  color: white;
  font-size: 25px !important;
}

.categoriesContainer {
  margin-top: 4.4rem !important;
  background-color: #faf9f9;
  height: 3rem;
  align-content: center;
  border: 1px solid rgb(227, 223, 223);
}

.categories {
  display: flex;
  justify-content: space-evenly;
}

.categories .categoriesText {
  color: black;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.15rem;
}

.categories .categoriesText:hover {
  color: rgb(46, 30, 225);
  cursor: pointer;
  font-weight: bold;
}

.text-ellipsis-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 4.5em;  */
  line-height: 1.5em;
}

/* Product Component */
.borderRadiusLeft{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.product-grid {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Spacing between items */
}

.product-item {
  width: calc(100% / 6 - 20px); /* Adjust width considering the gap */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.cards .card .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;

}

.cardImage img {
  height: 80% !important;
}

.ui.cards .card .content {
  border-color: #c6a9af;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background-color: #faf9f9;
}

.ui.cards>.card>.content>.header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.ui.cards>.card>.content>.description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}

.ui.cards>.card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

/* Product Details */
.ui.cards>.card .meta.price>a {
  font-size: 1.3rem;
  color: #222;
}

/* .ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
} */


.image {
  height: 90%;
  max-width: 90%;
  width: auto;
}

.lp {
  /* padding: 20px 40px 20px 20px !important; */
  /* align-self: flex-start !important; */
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  border-width: 0px 1px 0px 0px;
  border-style: dashed;
  border-color: #cfcfcf;
}

.rp {
  padding: 20px 20px 20px 40px !important;
  text-align: left !important;
  align-self: flex-start !important;
}

.ui.grid>.row>.column>img,
.ui.grid>.row>img {
  max-width: 80% !important;
  width: auto !important;
  height: 80% !important;
  margin: auto !important;
}

.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.label {
  font-size: 15px !important;
}

.rp h1 {
  color: #333;
  font-size: 20px;
}

.column.rp p {
  font-size: 18px;
  color: #777;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.5em; 
  line-height: 1.5em;
}

.ui.vertical.animated.button {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}